<div class="introduction-section">
    <h2>Hvøjum er tú mest samd/ur við?</h2>

    <p>Við hesari valevniskanningini kanst tú síggja hvønn flokk og hvønn politikkara, tú ert mest samd/ur við. Kanska kanningin kann hjálpa tær at gerast klókari um, hvønn tú eventuelt kundi stemmað uppá til løgtingsvalið.</p>

    <hr/>

    <p class="small-p">Kanningin hevur 27 spurningar, og tú kanst velja ikki at svara upp til 5 av spurningunum.</p>
  </div>

  <hr/>

  <div class="container margin-x">
    <h2>Um eg skuldi stemme nú, hevði eg stemma uppá </h2>
    <%= form_for @politician do |f|  %>
      <div class="row my-5">
        <% @parties.each do |parti| %>
          <div class="col-12 col-sm-4">

            <%= f.radio_button "select-parti", "test", checked: false %>
            <%= f.label "select-parti", class: 'parti-button' do %>
              <div class="parti-logo mr-2">B</div>
              <div class="parti-name"> <%= parti %> </div>
            <% end %>

          </div>
        <% end %>

      </div>
      <p class="text-danger cursor mb-5 pb-4">VEIT IKKI</p>

    <% end %>
  </div>

  <% question_number = 1 %>
  <%= form_for @question_answers do |f|  %>
    <% @questions.each do |key, value| %>
      <div class="margin-top"></div>
      <p class="font-weight-bold">
        Spurningur <%= question_number %> / <%= @questions.count %>
      </p>

      <h2 class="my-4 mb-5">
        <%= @questions[key][:question] %>
      </h2>

      <% if @questions[key].key?(:for) %>
        <p class="dropdown-text">FYRIMUNIR & VANSAR <span class="icon text-danger"><i class="fas fa-chevron-up"></i></span> </p>

        <div class="argument-dropdown row justify-content-center align-items-center">

          <div class="info-box col-12 col-sm-4">
            <p class="font-weight-bold">FYRIMUNIR</p>
            <p>
              <%= @questions[key][:for] %>
            </p>
          </div>
          <div class="col-12 col-sm-1 d-flex justify-content-center pt-5">
            <div class="vertical-line d-none d-sm-inline"></div>
          </div>

          <div class="info-box col-12 col-sm-4">
            <p class="font-weight-bold">VANSAR</p>
            <p>
              <%= @questions[key][:imod] %>
            </p>
          </div>

        </div>
      <% end %>

      <div class="form-icons d-flex justify-content-center align-items-center flex-column flex-sm-row">
        <span class="font-weight-bold">&nbsp;&nbsp;Púra Ósamd/ur&nbsp;&nbsp;</span>
        <% @values.each do |value| %>
          <%= f.radio_button "#{key}", "#{value[:value]}", checked: false, id: "#{key}-#{value}" %>
          <%= f.label "#{key}", class: 'form-label', id: "#{question_number}" do %>
            <i class="<%= value[:icon] %> icon-hover icon-click"></i>
          <% end %>
          <% if value[:value] < 4 %>
            <hr class="form-line d-none d-sm-inline">
          <% end %>
        <% end %>
        <span class="font-weight-bold">&nbsp;&nbsp;Púra Samd/ur&nbsp;&nbsp;</span>
      </div>

      <p class="dark-hover text-danger mt-5 jump-to-next">VEIT IKKI</p>


      <% question_number += 1 %>
      <div class="mb-5"></div>
    <% end %>
      <hr/>
    <%= f.submit "SE RESULTAT", class: "submit-button" %>
  <% end %>
  <p class="mt-5">Summir politikkarir, ið stilla upp hetta løgtingsvalið hava ikki svarað kanningini, og eru tískil ikki ein svar møguleiki. Allir hava tó fingið møguleikan til tess.</p>

<!-- <div class="progress">
  <div class="row">
    <div class="col-12">
      <%# 15.times do %>
        <i class="fas fa-circle"></i>
      <%# end %>
    </div>
    <div class="col-12">
      <%# 12.times do %>
        <i class="fas fa-circle"></i>
      <%# end %>
    </div>
  </div>
</div>
 -->












