<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Løgtingsval 2019</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'survey-red.png' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="navbar d-flex bg-dark p-3 text-white">
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag "survey-white.png", alt: "logo" %>
      <% end %>
    </div>
    <div class="content">Løgtingsval 2019</div>
  </div>

  <div class="top-banner">
    <h1>Valevniskanning</h1>
  </div>
  <div class="survey-container text-center">

    <body>
      <%= yield %>
    </body>

  </div>
  <%= javascript_include_tag "application" %>
  <%= javascript_pack_tag "application" %>
</html>
